<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @book.title %>
</p>

<p>
  <strong>Author:</strong>
  <%= @book.author.full_name if @book.author %>
</p>

<p>
  <strong>Isbn:</strong>
  <%= @book.isbn %>
</p>

<p>
  <strong>Abstract:</strong>
  <%= @book.abstract %>
</p>

<p>
  <strong>Pages:</strong>
  <%= @book.pages %>
</p>

<p>
  <strong>Price:</strong>
  <%= @book.price %>
</p>

<p>
  <strong>Released at:</strong>
  <%= @book.released_at %>
</p>

<h2>Reviews</h2>

<%= render partial: 'review_form', locals: { book: @book } %>

<% if @book.reviews.count > 0 %>
  <% @book.reviews.each do |review| %>
    <div>
      <hr>
      <h4 style="margin-bottom: 0">(<%= review.score %>/5) <%= review.title %></h4>
      <em>by <%= review.name %> on <%= review.created_at.to_s(:short) %></em>
      <p><%= simple_format review.comment %></p>
    </div>
  <% end %>
<% else %>
  <p><em>This book has no reviews yet. Create one!</em></p>
<% end %>

<%= link_to 'Edit', edit_book_path(@book) %> |
<%= link_to 'Back', books_path %>
